/* Base */
body {
  font-family: Lato;
}
.br0 {
  border-radius: 0px !important;
}
.bg-none {
  background: none;
}
/* Layout */
.first-page {
  padding: 0;
  margin: 0;
  background: url("../images/HERO.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.first-page .header {
  width: 70%;
  padding: 40px 0;
  background-color: none;
}
.first-page .header .menu-point {
  padding: 10px 20px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
}
.first-page .header .menu-point:hover {
  color: #383739;
}
.first-page .first-page-title {
  color: #fff;
  background: none;
}
.first-page .first-page-title h1 {
  font-family: Raleway;
  font-style: bold !important;
  text-transform: capitalize;
  font-size: 48px;
}
.first-page .first-page-title p {
  font-family: Lato;
  font-size: 22px;
  color: #fffefe;
  width: 50%;
  margin: 0 auto;
}
.first-page .first-page-title p:last-child a {
  font-size: 18px;
  padding: 20px 50px;
  border-radius: 2px;
}
.first-page .first-page-title .down {
  position: absolute;
  bottom: 0;
  left: 48.5%;
  right: 0;
  top: 85%;
  transition: 0.15s linear;
}
.first-page .first-page-title .down:active {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}
.first-page .first-page-title .down:visited {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}
.services {
  padding: 110px 0;
}
.services .service {
  padding: 0;
  width: 32%;
  display: inline-block;
  float: none;
  vertical-align: bottom;
}
.services .service p {
  font-size: 16px;
}
.dolore {
  background: url("../images/third.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 0;
  position: relative;
}
.dolore .dolore-magna {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}
.dolore .dolore-magna h1 {
  font-family: Lato;
  font-size: 45px;
  text-transform: uppercase;
}
.dolore .dolore-magna p {
  color: #979797;
  font-size: 22px;
}
.dolore .dolore-magna .image {
  height: 425px;
  width: 257px;
  position: absolute;
  bottom: 0;
  right: 100;
}
.dolore .dolore-magna a {
  text-decoration: underline;
  color: #fff;
  font-size: 18px;
  font-family: Lato;
  margin-bottom: 100px;
}
.our-work {
  padding: 110px 0;
}
.our-work .works {
  padding: 0;
}
.our-work .works .single-work {
  padding: 0;
  height: auto;
  width: 32%;
  position: relative;
  font-size: 0;
}
.our-work .works .single-work:hover {
  font-size: 1rem;
}
.our-work .works .single-work:hover .link p:after {
  content: url("../images/Link 1.png");
}
.our-work .works .single-work:hover .link-background {
  background: url("../images/Rectangle.png");
  background-size: cover;
}
.our-work .works .single-work:first-child {
  background: url("../images/Layer 17.jpg") 100%;
  background-size: cover;
  margin-right: 2%;
}
.our-work .works .single-work:nth-child(2) {
  background: url("../images/Layer 16.jpg") 100%;
  background-size: cover;
}
.our-work .works .single-work:last-child {
  background: url("../images/Layer 21.jpg") 100%;
  background-size: cover;
  margin-left: 2%;
}
.our-work .works .single-work .link-background {
  height: 420px;
}
.our-work .works .single-work .link-background .link {
  position: absolute;
  top: 40%;
  left: 25%;
  color: #fff !important;
}
.our-work .works .single-work .link-background .link a {
  text-decoration: none;
}
.our-work .works .more {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  width: 32.7%;
  margin: 0 auto;
  border: 2px solid #222222;
  color: #222222;
  padding: 10px;
  margin-top: 80px;
}
.get-in-touch {
  padding: 110px 0;
  background: url("../images/bg.jpg");
  background-size: cover;
}
.get-in-touch .titles {
  color: #fff;
}
.get-in-touch .icons {
  color: #fff;
  font-size: 3rem;
}
.get-in-touch .icons i:not(:last-child) {
  margin-right: 25px;
}
.get-in-touch .touch form {
  width: 100%;
  padding-top: 75px;
}
.get-in-touch .touch form .name {
  padding-right: 65px;
}
.get-in-touch .touch form .email {
  float: right;
}
.get-in-touch .touch form .name,
.get-in-touch .touch form .email {
  padding: 0;
  margin: 0;
  width: 45%;
}
.get-in-touch .touch form .name input,
.get-in-touch .touch form .email input {
  width: 90%;
  margin-bottom: 90px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.get-in-touch .touch form .name input::-webkit-input-placeholder,
.get-in-touch .touch form .email input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
.get-in-touch .touch form .name input::-moz-placeholder,
.get-in-touch .touch form .email input::-moz-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
.get-in-touch .touch form .name input:-moz-placeholder,
.get-in-touch .touch form .email input:-moz-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
.get-in-touch .touch form .name input:-ms-input-placeholder,
.get-in-touch .touch form .email input:-ms-input-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
.get-in-touch .touch form .name input:last-child,
.get-in-touch .touch form .email input:last-child {
  width: 100%;
}
.get-in-touch .touch form .send {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  width: 20%;
  margin: 0 auto;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  margin-top: 80px;
}
.get-in-touch .touch form input {
  height: 50px;
  padding: 15px;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #afafaf;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.get-in-touch .touch form input:focus {
  outline: none;
}
.get-in-touch .touch form input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
.get-in-touch .touch form input::-moz-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
.get-in-touch .touch form input:-moz-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
.get-in-touch .touch form input:-ms-input-placeholder {
  font-style: italic;
  font-size: 18px;
  font-family: Lato;
}
/* Modules */
hr {
  width: 5vw;
  size: 3px;
  border-top: 2px solid #eeeeee;
  margin: 75px auto;
}
hr.black {
  border-top: 2px solid #222222;
}
.titles h2 {
  font-family: Montserrat;
  font-style: bold;
  text-transform: uppercase;
  font-size: 40px;
}
.titles p {
  font-family: Droid Serif;
  font-style: italic;
  font-size: 16px;
}
h4 {
  font-size: 24px;
  margin: 35px 0;
}
h3 {
  color: #fff;
  font-family: Lato;
  font-size: 22px;
  text-transform: uppercase;
}
